/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .popup {
    width: 40%; }
  .section_title .h2_p_setion_title_other {
    max-width: 590px; }
  .do_carousel {
    margin-bottom: 30px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .popup {
    width: 50%; }
  .burger {
    display: inline-block; }
  section, footer {
    margin-top: 40px; }
  header .top-menu .menu .nav {
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    z-index: 999;
    display: none;
    float: none;
    width: 100%;
    text-align: center;
    background: #fff;
    padding-bottom: 40px; }
    header .top-menu .menu .nav li {
      margin: 0 auto;
      float: none; }
      header .top-menu .menu .nav li a {
        letter-spacing: 1px;
        display: block;
        padding-bottom: 10px;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
        header .top-menu .menu .nav li a:hover {
          border-bottom: 1px solid #eee;
          -webkit-transition: 0.7s;
          -o-transition: 0.7s;
          transition: 0.7s; }
        header .top-menu .menu .nav li a:after {
          display: none; }
  header .top-menu .menu .nav-panel {
    margin-right: 50px; }
  .section_title .h2_p_setion_title_other {
    max-width: 370px; }
  .slider {
    margin-top: 0; }
    .slider .tab {
      margin-bottom: 40px; }
  .do {
    margin-top: 0; }
  .do_carousel {
    margin-top: 0;
    margin-bottom: 0; }
  .services {
    margin-top: 0; }
    .services .services_kard {
      margin: 40px 20px 0; }
  .portfolio {
    margin-top: 40px; }
    .portfolio .portfolio_img {
      width: 25%; }
      .portfolio .portfolio_img.portfolio_img_grow {
        float: right; }
      .portfolio .portfolio_img.portfolio_img.portfolio_img_height {
        width: 50%; }
      .portfolio .portfolio_img .portfolio_img_grow_mask {
        padding: 20px; }
  .section_title .h2_p_setion_title_other {
    float: none; }
  .we_from {
    padding: 0; }
  .number_kards {
    margin-top: 40px; }
    .number_kards .number_kard {
      margin: 0 20px; }
      .number_kards .number_kard > p {
        font-size: 40px;
        line-height: 60px; }
      .number_kards .number_kard > span {
        line-height: 21px; }
  .teams .team {
    width: 50%;
    margin-right: 0;
    padding: 0 20px;
    margin-bottom: 40px; }
    .teams .team:hover .about_author_social .about_author_social_link {
      display: inline-block;
      float: right;
      top: 0;
      right: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .popup {
    width: 65%; }
  .section_title .h2_p_setion_title_other {
    float: none;
    margin-top: 10px;
    max-width: 100%; }
  .portfolio .portfolio_img {
    width: 50%; }
  .feedback_carousel .feedback_carousel_slaid img {
    height: auto;
    width: 50%;
    margin: 0 auto 40px; }
  .feedback_carousel .feedback_carousel_slaid .feedback_slaider_text {
    margin-top: 40px; }
  .do .tab_do .p_text {
    margin-bottom: 20px; }
  .do_carousel .do_carousel_slaid {
    height: 320px;
    padding: 0; }
    .do_carousel .do_carousel_slaid img {
      padding: 0; }
    .do_carousel .do_carousel_slaid .do_carousel_mask {
      height: 95%;
      left: 0;
      bottom: 0; }
  .do_carousel .owl-dots {
    bottom: 20px; }
  .do_carousel_2 .do_carousel_2_slaid {
    height: 320px;
    padding: 0; }
    .do_carousel_2 .do_carousel_2_slaid img {
      padding: 0; }
    .do_carousel_2 .do_carousel_2_slaid .do_carousel_2_mask {
      height: 95%;
      left: 0;
      bottom: 0; }
  .do_carousel_2 .owl-dots {
    bottom: 20px; }
  .responsive {
    margin-top: 20px; }
    .responsive .p_text {
      margin-bottom: 20px; }
    .responsive .res_atr > p {
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 10px; }
  .we_from_img {
    height: 320px;
    margin-top: 20px; }
  .teams .team {
    width: 100%; }
    .teams .team .team_foto {
      width: 40%;
      float: left; }
    .teams .team .team_text {
      width: 56%;
      float: right; }
    .teams .team:hover .about_author_social .about_author_social_link {
      display: inline-block;
      float: left;
      top: 0;
      right: auto;
      left: 0; }
  .partners .partner {
    margin: 0 20px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .popup {
    width: 90%;
    font-size: 16px;
    line-height: 24px; }
  header .top-menu {
    text-align: center; }
    header .top-menu .logo {
      display: block;
      float: none; }
    header .top-menu .menu {
      float: none;
      margin-top: 20px; }
      header .top-menu .menu .burger {
        top: 73px; }
      header .top-menu .menu .nav-panel {
        float: left; }
        header .top-menu .menu .nav-panel li:first-child {
          margin-left: 0; }
      header .top-menu .menu .nav {
        top: 120px; }
  .section_title .h2 {
    font-size: 40px;
    line-height: 50px; }
  .section_title .h2_section_title_span_other {
    display: none; }
  .other_section .other_section_title {
    padding: 40px 0; }
    .other_section .other_section_title .h2 {
      padding: 0; }
  .web_carousel .web_carousel_slaid .web_carousel_title {
    font-size: 30px;
    line-height: 30px; }
  .web_carousel .web_carousel_slaid .h1 {
    font-size: 50px;
    line-height: 70px; }
  .project_carousel .project_carousel_slaid {
    height: auto; }
  .do_carousel .do_carousel_slaid img {
    -o-object-fit: contain;
       object-fit: contain; }
  .number_kards .number_kard {
    margin: 0; }
  .partners .partner {
    margin: 0 auto; }
  .other_section .p_text {
    margin: 30px 0; }
  .teams {
    padding-bottom: 0; }
    .teams .team {
      width: 100%; }
      .teams .team .team_foto {
        width: 80%;
        height: auto;
        float: none;
        margin: 0 auto; }
      .teams .team .team_text {
        width: 100%;
        float: none;
        margin: 0 auto;
        padding-top: 20px; }
  .feedback_carousel {
    padding-bottom: 30px;
    margin: 0; }
    .feedback_carousel .feedback_carousel_slaid .feedback_slaider_text .about_author_social a.autor_website {
      margin-right: 10px; }
    .feedback_carousel .owl-nav div {
      bottom: -30px; }
  footer {
    margin-top: 0; }
    footer .copy {
      margin-top: 0; }
  .number_kards .number_kard {
    width: 100%; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .portfolio .portfolio_img {
    width: 100%; }
    .portfolio .portfolio_img.portfolio_img_grow {
      width: 100%; }
    .portfolio .portfolio_img.portfolio_img.portfolio_img_height {
      height: 200px;
      width: 100%; } }
